body {background-image: url(body {background-image: url(https://previews.123rf.com/images/things/things1011/things101100048/8292318-orange-paint-splashes-background-vector-background-with-place-for-your-text-.jpg);}
h1 {color:  #d92680;}
p {color: #4d0026;});}
h1 {color:  #330033;}
p {color: #660000;}
